@model  List<Oss48.DB.Cucina.tipoprodotto>

@{
    /**/

    ViewBag.Title = "TipoProdotto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

<h2>TipoProdotto</h2>

@if ((int)ViewData["SaveChange"] > 0)
{
    <div class="alert alert-success alert-dismissable fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Record Salvato Correttamente</strong>
    </div>
}
@if ((int)ViewData["SaveChange"] == -1)
{
    <div class="alert alert-danger alert-dismissable ">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Errore! </strong>@ViewData["ErrorMessage"]
    </div>
}

<script>
    window.setTimeout(function () {
        $(".alert").fadeTo(500, 0).slideUp(500, function () {
            $(this).remove();
        });
    }, 2000);
</script>

@using (Html.BeginForm("TipoProdotto", "Cucina", FormMethod.Post))
{
    @Html.TextBoxFor(model => model[0].Nome)
    <input type="submit" name="Submit" class="btn" />
}

@Ajax.BeginForm("SearchTipoProdotto", "Cucina",
     new AjaxOptions
     {
         HttpMethod = "POST",
         UpdateTargetId = "uno",
         InsertionMode = InsertionMode.Replace
//LoadingElementId = "waitimage"
})

<h1>Enter Product Code</h1>
<h2>
    Product Code: @Html.TextBox("nome","", new { id = "eo" })<br />
    <input type="submit" value="Show Details" id="submitSearch"/>
    <input type="reset" value="Clear" />
</h2>
@{Html.EndForm();}

<div id="uno">
    ciao
</div>



<div class="progress">
    <div id="a" class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
         aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
        <p id="progressTest"></p>
    </div>
</div>

<script>

    var num = 20;

    $("#eo").keyup(function () {
        $("#submitSearch").click();
    });
    setInterval(
        function () {
            //$("#submitSearch").click();
            if (num > 100) num = 0;
            document.getElementById('a').style.width = num + "%";
            document.getElementById('progressTest').innerHTML = num + "% ... Lavoraizion in corso"
            num++;
            console.log("Avviato");
        },
        1000
    );
</script>

